@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 0 13rem 0 13rem;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 35px;
}

a {
  font-size: 18px;
  color: #e5e7eb;

  text-decoration: none;
}

.hero-block {
  padding: 6rem 13rem 0 13rem;
  min-height: 30rem;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.image {
  background-color: #6e747d;
  width: 550px;
  height: 250px;
}

.footer {
  margin-top: auto;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bolder;
}
