@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding-top: 1rem;
  min-width: 100vw;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 35px;
}

a {
  font-size: 18px;
  color: #e5e7eb;

  text-decoration: none;
}

.hero-block {
  padding: 6rem 13rem 0 13rem;
  min-height: 25rem;
  min-width: 100vw;
  display: flex;
  gap: 40px;
  border: 1px solid aqua;
}

.hero-left {
  width: 30vw;
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-subtext {
  margin: 0.5rem 0;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  margin: 0.5rem 0;
  padding: 0.5rem 1.75rem;
  font-size: 18px;
  font-style: bolder;
  background-color: #3882f6;
  color: #f9faf8;
  border: #3882f6 0px solid;
  border-radius: 5px;
}

.image {
  background-color: #6e747d;
  color: #f9faf8;
  width: 550px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: auto;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bolder;
}
