@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* * {
  border: 1px inset red;
} */

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  padding-top: 1em;
  min-width: 80%;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: pink 1px solid; */
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 35px;
}

a {
  font-size: 18px;
  color: #e5e7eb;

  text-decoration: none;
}

.hero-container {
  padding: 6em 0 6em 0;
  height: 40%;
  display: flex;
  justify-content: center;
  gap: 5%;
  background-color: #1f2937;
  /* border: 1px solid aqua; */
}

.hero-left {
  width: 30%;

  /* border: 1px solid magenta; */
}
.hero-right /* whole element can be removed when complete */ {
  text-decoration: none;
  /* border: 1px solid magenta; */
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-subtext {
  margin: 0.5em 0;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  margin: 0.5em 0;
  padding: 0.5em 1.75em;
  font-size: 18px;
  font-style: bolder;
  background-color: #3882f6;
  color: #f9faf8;
  border: #3882f6 0px solid;
  border-radius: 5px;
}

.hero-img {
  background-color: #6e747d;
  color: #f9faf8;
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-info-container {
  margin: 0 auto;
  width: 65%;
  padding-bottom: 4em;
  background-color: #ffffff;
  /* border: 1px solid blueviolet; */
}

.random-info {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-pairs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

img {
  width: 150px;
  height: 150px;
  border: #3882f6 5px solid;
  border-radius: 20px;
}

.quote-container {
  margin: 0 auto;
  padding: 2em 0 2em 0;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
}

.quote {
  margin: 0 auto;
  padding: 2em 0 0 0;
  width: 60%;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  text-align: left;
}

.signature {
  align-self: flex-end;

  font-size: 24px;
  font-weight: bolder;
  padding: 0 30% 0 0;
}

.call-container {
  margin: 6em auto;
  padding: 2em 4em;
  display: flex;
  background-color: #3882f6;
  justify-content: center;
  border-radius: 20px;
  gap: 80px;
  color: #ffffff;
}

.call1 {
  font-size: 24px;
  font-weight: bold;
}

.call-button {
  font-size: 18px;
  font-style: bolder;
  padding: 0.5em 1.75em;
  background-color: #3882f6;
  color: #ffffff;
  border: #ffffff 2px solid;
  border-radius: 5px;
}

.footer {
  margin-top: auto;
  min-height: 5vh;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  transition: 500ms;
  background-color: #ffffff;
  color: #3882f6;
}
